<div class="header">
  <div class="header-text">Work Sheet - Angular Challenge</div>
  <div class="work-count-text">Work Item Count: <strong>{{works.length}}</strong></div>
</div>
<div class="container">
  <div class="sub-top-container">
    <button class="margin-left-20 pull-right" mat-raised-button color="primary" (click)="addNewWork()">Add New
      Item</button>
    <button class="pull-right" mat-raised-button (click)="uploadToGSpreadSheet()">Upload To Google SpreadSheet</button>
    <div class="pull-left">
      <select class="select status-select" [(ngModel)]="statusFilter" name="filterstatus">
        <option value="">Filter By Work Status</option>
        <option value="overdue">Overdue</option>
        <option value="done">Done</option>
        <option value="in_progress">In Progress</option>
      </select>
    </div>
    <div><canvas id="pie" width="60" height="60"></canvas></div>
  </div>
  <div class="sub-body-container">
    <div class="table">
      <div class="thead">
        <div class="tr">
          <div class="td id-td">ID</div>
          <div class="td item-td">WorkItem</div>
          <div class="td due-date-td">Due Date</div>
          <div class="td resource-td"># Resources Needed</div>
          <div class="td status-td">Status</div>
          <div class="td action-td">Actions</div>
        </div>
      </div>
      <div class="tbody">
        <ng-container *ngFor="let work of works">
          <single-work class="tr" *ngIf="!statusFilter || statusFilter === work.status" [work]="work"
            (save)="saveWork($event)" (delete)="deleteWork($event)"></single-work>
        </ng-container>
      </div>
    </div>
  </div>
</div>
